body {
    font-family: Arial, sans-serif;
    background-color: #D1F8EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #578FCA;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header {
    background-color: #3674B5;
    color: white;
    font-family: "Aclonica", serif;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px;
    text-align: left;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}

button {
    background-color: #A1E3F9;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #3674B5;
}

.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}