body {
    font-family: Arial, sans-serif;
    background-color: #D1F8EF;
    text-align: center;
    font-family: "Aclonica", serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}
.header {
    background-color: #3674B5;
    color: white;
    font-family: "Aclonica", serif;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
}
.button {
    background-color: #3674B5;
    color: white;
    padding: 20px;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    border: none;
}
.button:hover {
    background-color: #3674B5;
    transform: scale(1.05);
}
.back-button {
    background-color: #7E5CAD;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    margin-top: 20px;
    border: none;
}
.back-button:hover {
    background-color: #A19AD3;
    transform: scale(1.05);
}